<div class="divider"></div>
<div class="footer-main">
  <div class="footer">
    <div class="footer-heading">
      <h6>Questions? Call 000-802-050-1984</h6>
    </div>
    <div class="footerLinks">
      <div class="links-colums">
        <ul>
          <li>FAQ</li>
          <li>Privacy</li>
          <li>Terms of Use</li>
        </ul>
      </div>
      <div class="links-colums">
        <ul>
          <li>Help Centre</li>
          <li>Cookie Preferences</li>
          <li>Legal Notices</li>
        </ul>
      </div>
      <div class="links-colums">
        <ul>
          <li>Account</li>
          <li>Corporate Information</li>
          <li>Contact Us</li>
        </ul>
      </div>
    </div>
    <div class="end"><h6>Copyright © 2022 Stream Media. All Rights Reserved</h6></div>
  </div>
</div>
