<div class="dashboard-nav">
    <div class="header-main">
        <div class="header">
            <img src="../../../assets/images/logo1.png" alt="" height="40">
            <div class="spaceBtw"></div>
            <div class="buttons">
                <div class="search">
                    <input type="text" placeholder="Search" class="form-control">
                    <button class="searchBtn" mat-button><mat-icon>search</mat-icon></button>
                    <img src="../../../assets/images/avatar.webp" alt="" height="50">
                </div>
            </div>
        </div>
    </div>
</div>