<app-nav></app-nav>
<div class="home-main">
  <div class="home-contents">
    <h1>Stream Media</h1>
    <p>
      Stream Media is an Indian brand of subscription video on demand
      over-the-top streaming service by Digital Entertainment operated by Stream
      Media and Entertainment and Distributions.
    </p>
    <div class="btns">
      <p>Get started with an account</p>
      <input type="email" placeholder="Email" />
      <button>Register</button>
    </div>
  </div>
</div>
<div class="downcontent">
  <div class="content">
    <img src="../../../assets/images/Video-streaming.png" alt="">
    <p>
      Video streaming is a continuous transmission of video files from a server
      to a client. Video streaming enables users to view videos online without
      having to download them.
    </p>
  </div>
</div>
