<app-nav></app-nav>
<div class="sign-main">
    <form class="col-md-4" #signupDetails="ngForm">
      <h2>Sign Up</h2>
      <div class="mb-3">
        <input type="text" name="name" [(ngModel)]="signupData.name" #name="ngModel" [class.is-invalid]="name.invalid && name.touched" class="form-control" placeholder="Fullname" required="required" />
        <small [class.d-none]="name.valid || name.untouched">*Enter your name</small>
      </div>
      <div class="mb-3">
        <input type="date" name="dob" [(ngModel)]="signupData.dob" #dob="ngModel" [class.is-invalid]="dob.invalid && dob.touched" class="form-control" placeholder="Date of birth" required="required" />
        <small [class.d-none]="dob.valid || dob.untouched">*Enter valid DOB</small>
      </div>
      <div class="mb-3">
        <input type="email" name="email" #email="ngModel" [(ngModel)]="signupData.email" [class.is-invalid]="email.invalid && email.touched" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$" class="form-control" placeholder="Email" required="required" />
        <small [class.d-none]="email.valid || email.untouched">*Enter valid email</small>
    </div>
      <div class="mb-3">
        <input type="password" name="passowrd" [(ngModel)]="signupData.password" #password="ngModel" [class.is-invalid]="password.invalid && password.touched"  pattern="(?=.*[a-z])(?=.*[A-Z])(?=.*[0-9])(?=.*[$@$!%*?&])[A-Za-z\d$@$!%*?&].{8,}" class="form-control" placeholder="Password" required="required" />
        <small [class.d-none]="password.valid || password.untouched">*Enter strong  password use special character, caps & small letter, numbers</small>
      </div>
      <button type="submit" [disabled]="signupDetails.invalid" class="signBtn">Sign Up</button>
      <div class="navigate">
        <p>Already have an account ? <span routerLink="/login">Login</span></p>
      </div>
    </form>
  </div>
  