.rating {
  padding: 100px 60px;
}
button {
  background-color: rgb(32, 16, 121);
  color: #fff;
}

.star {
  color: rgb(202, 202, 202);
  font-size: 50px ;
  cursor: pointer;
}

.active{
  color:  rgb(255, 211, 13);
}
.active:hover{
  color:  rgb(255, 211, 13);
}