<div class="rating">
    <div class="upload">
        <form>
            <h1>Rate this video</h1>
            <div class="mb-3">
                <input type="text" disabled name="title" [(ngModel)]="videoDetail.title"  class="form-control" placeholder="title">
            </div>
            <div class="star">
            <ng-container *ngFor="let star of stars">
                <i class='bx bxs-star' (click)="selectRating(star)" [ngClass]="{'active': star <= rating}"></i>
            </ng-container>
            </div>
            <button mat-button>Submit</button>
        </form>
    </div>
</div>

